project:
  type: website
  output-dir: _site
  render:
    - "*.qmd"

website:
  open-graph: true
  title: "Abhay Gupta"
  site-url: https://AbhayGupta115.github.io
  repo-url: https://github.com/AbhayGupta115/AbhayGupta115.github.io
  favicon: assets/images/uva.ico

  navbar:
    style: "floating"
    background: dark
    foreground: light
    left:
      - href: index.qmd
        text: Home
      - href: pages/publications.qmd
        text: Publications
    search: true
    pinned: true

format:
  html:
    theme: journal
    toc: true
    smooth-scroll: true
    html-math-method: katex
    include-in-header:
      - includes.html
    footnotes-hover: false
    code-fold: true
    include-in-header:
      text: |
        <style>
          ::selection {
            background-color: var(--bs-primary);
            color: #fff;
          }
        </style>
